---
title: "Werken bij de vierstroom"
posted: 2015-05-28
subnavid: 2391
subnavdepth: false
mainnavhidden: true
---

<article>
	<div class="slider header-img">
		<h1 class="hide">{{title}}</h1>
		<div class="carousel" data-prevnext="false">
			<ul class="wrapper">
				<li class="item">
					<article>
						<figure class="crop" data-img="../images/action1.jpg">
							
						</figure>
						<div class="row">
							<div class="box box-list">
								<div class="box-content">
									<h1>{{title}}?<strong><br />Maak het verschil!</strong></h1>						
								</div>
							</div>
						</div>
						
					</article>
				</li>
			</ul>
		</div>
	</div>

	{{> site-menubar }}
	<div class="row block-padding page-overview">
		
		
		<div class="grid-8 content ">
			
			<h1 class="page-heading">Werken in de zorg is dankbaar en mooi!</h1>
			<div class="text">
				<p class="intro">
					Word jij onze nieuwe collega? Wil je echt iets voor anderen betekenen en zoek je een uitdagende baan? Een baan met verantwoordelijkheid goede arbeidsvoorwaarden en een werkvorm die bij jou past. 				
				</p>
				<p>
					Zelfstandig wonen en functioneren, liefst in de eigen vertrouwde omgeving. Dat willen we allemaal. Maar wie te maken krijgt met een handicap of ouder wordt, heeft soms extra voorzieningen, ondersteuning of zorg nodig. Vierstroom helpt daarbij. Dat doen wij met persoonlijke zorg en ondersteuning die goed aansluit bij de wensen en behoeften van de cliënt. Wij willen écht iets betekenen voor onze cliënten. Dat is waar wij voor gaan. Jij ook?  Solliciteer dan op een van onze vacatures. <strong>Dan maken wij samen het verschil!</strong>
				</p>
				<p>
					Bekijk onze <a href="vacatures.html">vacatures</a>. Of de informatie over onze flexibele <a href="#">arbeidsvormen</a>, aantrekkelijke arbeidsvoorwaarden, <a href="#">leer/stagemogelijkheden</a> en <a href="#">vrijwilligerswerk</a>. Kijk ook eens naar onderstaande filmpjes en  ervaringen van medewerkers!
				</p>
				
				<p>
					<strong>In gesprek met Ilse Hopman - Verpleegkundige 5 in de thuiszorg</strong><br />								<div class="player-object">	
						<iframe  src="http://www.youtube.com/embed/wtp3dNJXtfU" frameborder="0" allowfullscreen=""></iframe>
					</div>
				</p>
			</div>
		
			
		</div>
		
		<aside class="grid-4 sidebar">
			<nav class=" sub-nav">
				<h3 class="subnav-title"><a href="zorgthuis.html">{{title}}</a></h3>
				<ul class="subnav-list">
					<li class="menu-item {{#if this.subnavcheck }} is--current {{/if}}">
						<a href="vacatures.html">Vacatures</a>
						
						{{#if this.subnavdepth}}
							<ul class="sub-menu">
								
								
								{{!-- <li class="menu-item"><a href="zorgthuis-diensten.html">Alle diensten</a></li> --}}
								{{#each diensten.0.subdiensten }}
								
								<li class="menu-item  {{#is teaser-title  ../page.title }} is--current {{/is}} ">
									
									<a href="{{teaser-uri}}">{{teaser-title}}</a>
									{{#if ../page.subnavid}}
										<ul class="sub-menu">
											{{#each this.subdiensten }}
												<li class="menu-item  {{#is teaser-title  ../page.title }} is--current {{/is}} ">
													<a href="{{teaser-uri}}">{{teaser-title}}</a>
												</li>
											{{/each}}
										</ul>
									{{/if}}
								</li>
								{{/each}}	
							</ul>
						{{/if}}
					</li>
					<li class="menu-item"><a href="#">Arbeidsvoorwaarden</a></li>
					<li class="menu-item"><a href="#">Leren bij de vierstroom</a></li>					
					<li class="menu-item"><a href="#">Vrijwillegerswerk</a></li>
				</ul>
			</nav>
		</aside>
	</div>
</article>
