---
title: "Winkels"
posted: 2015-05-28
subnavid: 2391
subnavdepth: true
---

<article>
	<div class="slider header-map">
		<div id="Gmap" class="maps"></div>		
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	</div>

	{{> site-menubar-off }}
	<div class="row block-padding page-overview">
		
		
		<div class="grid-8 content ">
			
			<h1 class="page-heading">{{title}}</h1>
			<div class="text">
				<p class="intro">
					Vierstroom werkt voor de exploitatie van thuiszorgwinkels samen met Vegro Verpleeg-artikelen.<br /> Bel 0800 - 2 88 77 66 of ga naar www.vegro.info
				</p>
			</div>
			
			<section class="block list-block">
				<h2 class="page-heading">Overzicht winkels</h2>
				<ul class="group-3 ">
						
						{{#each winkels }}
						<li class="post post-text-in-image post-stores">
							<article>
							
								<h1 class="post-title"><a href="">{{winkel}}</a></h1>
								<div class="crop">
									<img src="{{img}}" />
								</div>
								<div class="post-text">
									<p class="fixed-height">{{text}}</p>
									<ul class="post-adress">
										<li class="adress">{{adres}}</li>
										<li class="zipp">{{postcode}}</li>
										<li class="city">{{plaats}}</li>
										<li class="tel"><strong>{{tel}}</strong></li>
										<li class="open">{{open}}</li>
									</ul>
										
								</div>
								{{!--
								<a href="{{uri}}" class="button">Meer informatie</a>
								--}}
							</article>
						</li>
						{{/each}}
					</ul>
			</section>
			
		</div>
		
		<aside class="grid-4 sidebar">
			<nav class=" sub-nav">
				
				<ul class="subnav-list">
					<li class="menu-item current_page_parent ">
						<h3 class="subnav-title"><a href="zorgthuis.html">Thuiszorgwinkels</a></h3>
						<ul class="sub-menu">
							<li class="menu-item">
								<a href="zorgthuis-diensten.html">Uitleen, verhuur en verkoop hulpmiddelen</a>
								
							</li>
							<li class="menu-item"><a href="#">Aanvullende diensten</a></li>
							<li class="menu-item"><a href="#">Ledenvoordeel </a></li>					
							<li class="menu-item is--current"><a href="winkels.html">Winkels</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</article>
